/.idea
/MeshSimplification/bin
/MeshSimplification/obj
/MeshSimplification/MeshSimplification.csproj
/TestingProject/bin
/TestingProject/obj
/TestingProject/TestingProject.csproj

MeshSimplification.sln
MeshSimplification.sln.DotSettings.user