<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brahma.FSharp" version="1.1.5" targetFramework="net48" />
  <package id="FSharp.Core" version="3.0.2" targetFramework="net48" />
  <package id="FSharp.Quotations.Evaluator" version="1.0" targetFramework="net48" />
  <package id="FSharpx.Collections" version="1.15.0" targetFramework="net48" />
  <package id="OpenCL.Net" version="2.2.9.0" targetFramework="net48" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
  <package id="Windows8Accelerator" version="1.0.30" targetFramework="net48" />
  <package id="YC.PrettyPrinter" version="0.0.5" targetFramework="net48" />
</packages>